<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <title>LANDING</title>
</head>
<header class="header">
        <img class="logoim"src="img/hatchback.png">
        <div class="logo">
            <div>STE L'ESPOIR</div>
            <div > vente piece de rechange </div>
            </div>
            
    </div>
    <div class="gs">GESTION DE STOCK</div>
    <div class="auth">SOCIETE LESPOIR</div>
</header>
<body class="bg"> 
   
</body>
</html>